<div class="full_about">
  <div class="picture">
    <a href="{{ file_url(picture['#uri']) }}" target="_blank">
      {{ picture }}
    </a>
  </div>
  <div class="all_info">
    <div class="email">
      <p>{{ mail }}</p>
    </div>
    <div class="name">
      <p>{{ name }}</p>
    </div>
    <div class="time">
      <p>{{ time | date("d/F/Y G:i:s") }}</p>
    </div>
  </div>
</div>
